.game {
  padding-top: 20px;
  padding-bottom: 8px;
}
.game-img {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 15px;
  border: 2px solid transparent;
  background: linear-gradient(0deg, #070e3e, #262f67) padding-box,
  linear-gradient(135deg, #fd035f, #6c2c8c) border-box;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.game-text {
  position: absolute;
  top: 45px;
  left: -200px;
  z-index: 20;
  width: 300px;
  min-height: 70px;
  border-radius: 10px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 18px;
  padding: 15px 10px;
  border-radius: 15px;
  border: 2px solid transparent;
  background: linear-gradient(0deg, #070e3e, #262f67) padding-box,
  linear-gradient(135deg, #fd035f, #6c2c8c) border-box;

  @media screen and (max-width: 1024px) {
    padding: 8px;
    min-height: 50px;
    width: 240px;
    left: -15%;
  }
  @media screen and (max-width: 768px) {
    top: -33px;
  }
}
.game__container {
  display: flex;
  align-items: flex-end;
}

.game__content {
  flex: 0 1 100%;
}


.bg {
  animation:slide 14s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #070e3e 50%, #262f67 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:22s;
}

.bg3 {
  animation-duration:22s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}