.question {
  padding: 5px 10px;
  font-size: 22px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #070e3e, #6c2c8c) padding-box,
  linear-gradient(135deg, #fd035f, #262f67) border-box;
  display: none;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }

  &.current {
    display: block;
  }
}

.unswers {
  display: grid;
  grid-template-columns: 2fr 50%;
  grid-gap: 6px;
}

.unswers__item {
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
                  90deg,
                  rgba(2, 0, 36, 1) 0%,
                  rgba(107, 9, 121, 1) 0%,
                  rgba(72, 0, 255, 1) 100%
  );
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;

  &:hover {
    background: rgb(2, 0, 36);
    background: linear-gradient(
                    90deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(9, 9, 121, 1) 35%,
                    rgba(0, 212, 255, 1) 100%
    );
  }

  &.isProgres {
    animation: fadeInUp 10s;
  }

  &.isFalse {
    background: rgb(180, 58, 97);
    background: linear-gradient(
                    90deg,
                    rgba(180, 58, 97, 1) 0%,
                    rgba(253, 29, 29, 1) 100%,
                    rgba(252, 176, 69, 1) 100%
    );
  }

  &.isTrue {
    background: rgb(238, 174, 202);
    background: radial-gradient(
                    circle,
                    rgba(238, 174, 202, 1) 0%,
                    rgba(155, 148, 233, 1) 100%
    );
  }
  &-text {
    font-size: 16px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  &-position {
    font-weight: 700;
    margin-right: 15px;
    text-transform: uppercase;
  }
}

@keyframes fadeInUp {
  0% {
    background: transparent;
  }

  10% {
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  }
  20% {
    background: transparent;
  }
  30% {
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  }
  40% {
    background: transparent;
  }
  50% {
    background: transparent;
  }
  60% {
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  }
  70% {
    background: transparent;
  }

  80% {
    background: transparent;
  }
  90% {
    background-color: #fad961;
    background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  }
  100% {
    background: transparent;
  }
}